<!DOCTYPE html>
<html lang="en" ng-app="BasicReport">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="/app.js"></script>
    <script src="/input-controls/input-control.service.js"></script>
    <script src="/report/report.service.js"></script>
    <script src="/chart/chart.service.js"></script>
</head>
<body>
    <div ng-controller="BasicReportController">
        <select ng-options="item.value as item.text for item in inputControlData" ng-model="carManufacturerId"></select>
        <button ng-click="executeReport(carManufacturerId)" ng-disabled="carManufacturerId === undefined">Execute report</button>
        <div id="reportChart"></div>
    </div>
</body>
</html>